<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bienvenido</title>
    <link rel="stylesheet" href="/scss/styles.css">

</head>
    <body>



        <div class="container py-4" >
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h1>Mi tabla de productos</h1><br>
                    <h1>Página de <%= title %></h1> <br><!-- Aquí se muestra el título usando el marcador EJS -->

                                <table class="table table-info table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Descripcion</th>
                                            <th>Precio</th>
                                            <th>Slug-Actualizar</th>
                                            <th>       </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <% productos.forEach(producto => { %>
                                                <tr>
                                                    <td><%= producto.id %></td>
                                                    <td><%= producto.nombre %></td>
                                                    <td><%= producto.precio %></td>
                                                    <td><a href="/productos/<%= producto.slug %>"><%= producto.slug %>  </a></td>
                                                    <td>   <button class="btn btn-danger btn-sm"
                                                                onclick="eliminarProducto('<%=producto.id %>')">Eliminar</button></td>

                                                </tr>


                                            <% }); %>

                                    </tbody>
                                </table>

                       <button type="button" onclick="window.location = 'crear_producto'" class="btn btn-primary m-2">Crear nuevo
                        producto</button>
                </div>
            </div>
        </div>

        <script>
            function eliminarProducto(id) {
                fetch('/' + id, { method: 'DELETE' }).then(
                    window.location = "/"
                );
            }

        </script>


    </body>
</html>
