<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Nuevo Producto</title>

    <link rel="stylesheet" href="/scss/styles.css">

</head>
<body>
<div class="container">

    <h1 class="mt-4">Crear nuevo Producto</h1>

    <form id="update-form" class="mt-4" action="/" method="post">
        <input type="text" id="id" name="id" value="" hidden>

        <div class="mb-3">
            <label for="nombre"class="form-label fw-bold">Descripcion:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" value=""><br><br>
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label fw-bold">Precio:</label>
            <input type="text" class="form-control" id="precio" name="precio" step="0.01" value=""><br><br>
        </div>

        <button type="submit" class="btn btn-primary">Crear Producto</button>
    </form>
</div>



</body>

</html>
