<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>

    <link rel="stylesheet" href="/scss/styles.css">

</head>
        <body>
            <div class="container">

                <h1 class="mt-4">Actualizar Producto   <%= producto ? producto.nombre: ''%></h1>

                <form id="update-form" class="mt-4">
                    <div class="mb-3">
                        <label for="nombre"class="form-label fw-bold">Descripcion:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" value="<%= producto ? producto.nombre : '' %>"><br><br>
                    </div>
                    <div class="mb-3">
                        <label for="precio" class="form-label fw-bold">Precio:</label>
                        <input type="text" class="form-control" id="precio" name="precio" value="<%= producto ? producto.precio : '' %>"><br><br>
                    </div>
                    <button type="submit" class="btn btn-primary" id="guardar" >Actualizar producto</button>

                    <button type="button" class="btn btn-outline-secondary" onclick="irAPaginaInicio()" >Ir a página inicio</button>
                </form>
            </div>
                    <script>
                        function irAPaginaInicio() {
                            window.location.href = '/';
                        }
                    </script>



                <script>
                    document.getElementById('guardar').addEventListener('click', function () {

                        const nombre = document.getElementById('nombre').value;
                        const precio = document.getElementById('precio').value;

                        fetch(`/productos/<%= producto ? producto.slug : '' %>`, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ nombre: nombre, precio: precio })
                        })
                            .then(response => response.json())
                            .then(data => {
                                // Manejar la respuesta del servidor
                                console.log(data);
                            })
                            .catch(error => {
                                console.error('Error:', error);
                            });
                    });
                </script>


        </body>

</html>

